# LaTeX auxiliary files
*.aux
*.acn
*.bbl
*.bcf
*.blg
*.brf
*.log
*.lof
*.lot
*.nav
*.out
*.snm
*.toc
*.vrb
*.idx
*.ind
*.ilg
*.synctex.gz*
*.fdb_latexmk
*.fls
*.bak
*.gz
*.glo
*.glsdefs
*.ist
*.xdv
*.bbl-SAVE-ERROR
*.run.xml

# Editor-specific files (optional)
*.swp
*~
.#*
.DS_Store
Thumbs.db

# Compiled PDF files
main.pdf